openapi: 3.2.0
info:
  title: Workday Integrations Workday REST Compensation API
  description: Modern REST API for accessing Workday business objects including workers, organizations, positions, jobs, compensation, benefits, time off, and more. Provides programmatic access to Workday data using standard HTTP methods with JSON payloads and OAuth 2.0 authentication.
  version: v1
  contact:
    name: Workday Support
    email: support@workday.com
    url: https://www.workday.com/en-us/customer-experience/support.html
  termsOfService: https://www.workday.com/en-us/legal.html
servers:
- url: https://wd2-impl-services1.workday.com/ccx/api/v1/{tenant}
  description: Workday Implementation Services
  variables:
    tenant:
      default: mycompany
      description: Workday tenant name
security:
- bearerAuth: []
tags:
- name: Compensation
  description: Access compensation plans and worker compensation data
paths:
  /workers/{workerId}/compensation:
    get:
      operationId: getWorkerCompensation
      summary: Workday Integrations Get worker compensation
      description: Retrieve compensation details for a specific worker, including base pay, allowances, bonuses, and total compensation.
      tags:
      - Compensation
      parameters:
      - $ref: '#/components/parameters/workerId'
      responses:
        '200':
          description: Compensation details returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompensationDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Reference:
      type: object
      description: A reference to a Workday business object
      properties:
        id:
          type: string
          description: Workday ID of the referenced object
        descriptor:
          type: string
          description: Display name of the referenced object
        href:
          type: string
          format: uri
          description: API URL for the referenced resource
    CompensationDetail:
      type: object
      properties:
        worker:
          $ref: '#/components/schemas/Reference'
        effectiveDate:
          type: string
          format: date
          description: Effective date of the compensation plan
        totalBasePayAnnualized:
          type: number
          format: double
          description: Total annualized base pay amount
        currency:
          type: string
          description: ISO 4217 currency code
        compensationPlans:
          type: array
          items:
            type: object
            properties:
              compensationPlan:
                $ref: '#/components/schemas/Reference'
              amount:
                type: number
                format: double
              currency:
                type: string
              frequency:
                type: string
                enum:
                - Annual
                - Monthly
                - Hourly
        compensationGrade:
          $ref: '#/components/schemas/Reference'
        compensationStep:
          $ref: '#/components/schemas/Reference'
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
  parameters:
    workerId:
      name: workerId
      in: path
      required: true
      description: Workday ID of the worker
      schema:
        type: string
  responses:
    NotFound:
      description: Requested resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication credentials missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token obtained via authorization code grant or client credentials grant through Workday authentication endpoints.
externalDocs:
  description: Workday REST API Documentation
  url: https://community.workday.com/sites/default/files/file-hosting/restapi/index.html
