openapi: 3.2.0
info:
  title: Workday Integrations Workday REST Workers API
  description: Modern REST API for accessing Workday business objects including workers, organizations, positions, jobs, compensation, benefits, time off, and more. Provides programmatic access to Workday data using standard HTTP methods with JSON payloads and OAuth 2.0 authentication.
  version: v1
  contact:
    name: Workday Support
    email: support@workday.com
    url: https://www.workday.com/en-us/customer-experience/support.html
  termsOfService: https://www.workday.com/en-us/legal.html
servers:
- url: https://wd2-impl-services1.workday.com/ccx/api/v1/{tenant}
  description: Workday Implementation Services
  variables:
    tenant:
      default: mycompany
      description: Workday tenant name
security:
- bearerAuth: []
tags:
- name: Workers
  description: Access and manage worker records including employees and contingent workers
paths:
  /workers:
    get:
      operationId: listWorkers
      summary: Workday Integrations List workers
      description: Retrieve a collection of workers. Returns employees and contingent workers with their basic profile information. Supports pagination, filtering, and field selection.
      tags:
      - Workers
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: Collection of workers returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of matching workers
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WorkerSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /workers/{workerId}:
    get:
      operationId: getWorker
      summary: Workday Integrations Get a worker
      description: Retrieve detailed information about a specific worker by their Workday ID, including personal data, employment details, and organizational assignments.
      tags:
      - Workers
      parameters:
      - $ref: '#/components/parameters/workerId'
      responses:
        '200':
          description: Worker details returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Worker'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /workers/{workerId}/history:
    get:
      operationId: getWorkerHistory
      summary: Workday Integrations Get worker history
      description: Retrieve the employment history for a specific worker, including job changes, promotions, transfers, and organizational moves.
      tags:
      - Workers
      parameters:
      - $ref: '#/components/parameters/workerId'
      responses:
        '200':
          description: Worker history returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WorkerHistoryEntry'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{organizationId}/workers:
    get:
      operationId: listOrganizationWorkers
      summary: Workday Integrations List workers in an organization
      description: Retrieve workers assigned to a specific organization.
      tags:
      - Workers
      parameters:
      - $ref: '#/components/parameters/organizationId'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Workers in the organization returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WorkerSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Reference:
      type: object
      description: A reference to a Workday business object
      properties:
        id:
          type: string
          description: Workday ID of the referenced object
        descriptor:
          type: string
          description: Display name of the referenced object
        href:
          type: string
          format: uri
          description: API URL for the referenced resource
    WorkerSummary:
      type: object
      properties:
        id:
          type: string
          description: Workday ID of the worker
        descriptor:
          type: string
          description: Display name of the worker
        href:
          type: string
          format: uri
          description: API URL for the worker resource
        primaryWorkEmail:
          type: string
          format: email
          description: Primary work email address
    Worker:
      type: object
      properties:
        id:
          type: string
          description: Workday ID of the worker
        descriptor:
          type: string
          description: Display name of the worker
        workerType:
          type: string
          enum:
          - Employee
          - Contingent_Worker
          description: Type of worker
        personalData:
          type: object
          properties:
            legalName:
              type: object
              properties:
                firstName:
                  type: string
                  description: Legal first name
                lastName:
                  type: string
                  description: Legal last name
                middleName:
                  type: string
                  description: Legal middle name
            dateOfBirth:
              type: string
              format: date
              description: Date of birth
            gender:
              type: string
              description: Gender identity
            nationality:
              type: string
              description: Nationality / citizenship
        employmentData:
          type: object
          properties:
            hireDate:
              type: string
              format: date
              description: Original hire date
            terminationDate:
              type: string
              format: date
              description: Termination date if applicable
            workerStatus:
              type: string
              enum:
              - Active
              - Terminated
              - On_Leave
              description: Current employment status
            employeeType:
              type: string
              description: Employee type classification
            jobData:
              type: object
              properties:
                jobTitle:
                  type: string
                  description: Current job title
                jobProfile:
                  $ref: '#/components/schemas/Reference'
                position:
                  $ref: '#/components/schemas/Reference'
                businessTitle:
                  type: string
                  description: Business title
                location:
                  $ref: '#/components/schemas/Reference'
                supervisoryOrganization:
                  $ref: '#/components/schemas/Reference'
                managementLevel:
                  $ref: '#/components/schemas/Reference'
                workerType:
                  type: string
                  description: Worker sub-type
        contactData:
          type: object
          properties:
            primaryWorkEmail:
              type: string
              format: email
              description: Primary work email
            primaryWorkPhone:
              type: string
              description: Primary work phone number
            businessAddress:
              type: object
              properties:
                line1:
                  type: string
                line2:
                  type: string
                city:
                  type: string
                state:
                  type: string
                postalCode:
                  type: string
                country:
                  type: string
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
    WorkerHistoryEntry:
      type: object
      properties:
        id:
          type: string
          description: History entry identifier
        effectiveDate:
          type: string
          format: date
          description: Effective date of the change
        eventType:
          type: string
          description: Type of employment event
        descriptor:
          type: string
          description: Description of the change
        previousValue:
          type: string
          description: Previous value before the change
        newValue:
          type: string
          description: New value after the change
  parameters:
    organizationId:
      name: organizationId
      in: path
      required: true
      description: Workday ID of the organization
      schema:
        type: string
    limit:
      name: limit
      in: query
      description: Maximum number of results to return per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    workerId:
      name: workerId
      in: path
      required: true
      description: Workday ID of the worker
      schema:
        type: string
    offset:
      name: offset
      in: query
      description: Number of results to skip for pagination
      schema:
        type: integer
        minimum: 0
        default: 0
    search:
      name: search
      in: query
      description: Search string to filter results
      schema:
        type: string
  responses:
    NotFound:
      description: Requested resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Insufficient permissions for the requested resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication credentials missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token obtained via authorization code grant or client credentials grant through Workday authentication endpoints.
externalDocs:
  description: Workday REST API Documentation
  url: https://community.workday.com/sites/default/files/file-hosting/restapi/index.html
