openapi: 3.1.0
info:
  title: Workday Integrations Workday Prism Analytics Benefits Compensation API
  description: API for managing external data in Workday Prism Analytics. Enables creation of datasets, uploading of external data files, and management of data tables for advanced reporting and analytics within Workday. Supports loading CSV and Parquet data into Prism for blending with native Workday data sources.
  version: v2
  contact:
    name: Workday Support
    email: support@workday.com
    url: https://www.workday.com/en-us/customer-experience/support.html
  termsOfService: https://www.workday.com/en-us/legal.html
servers:
- url: https://wd2-impl-services1.workday.com/ccx/api/prismAnalytics/v2/{tenant}
  description: Workday Prism Analytics Endpoint
  variables:
    tenant:
      default: mycompany
      description: Workday tenant name
security:
- bearerAuth: []
tags:
- name: Compensation
  description: Access compensation plans and worker compensation data
paths:
  /workers/{workerId}/compensation:
    get:
      operationId: getWorkerCompensation
      summary: Workday Integrations Get worker compensation
      description: Retrieve compensation details for a specific worker, including base pay, allowances, bonuses, and total compensation.
      tags:
      - Compensation
      parameters:
      - $ref: '#/components/parameters/workerId'
      responses:
        '200':
          description: Compensation details returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompensationDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
    CompensationDetail:
      type: object
      properties:
        worker:
          $ref: '#/components/schemas/Reference'
        effectiveDate:
          type: string
          format: date
          description: Effective date of the compensation plan
        totalBasePayAnnualized:
          type: number
          format: double
          description: Total annualized base pay amount
        currency:
          type: string
          description: ISO 4217 currency code
        compensationPlans:
          type: array
          items:
            type: object
            properties:
              compensationPlan:
                $ref: '#/components/schemas/Reference'
              amount:
                type: number
                format: double
              currency:
                type: string
              frequency:
                type: string
                enum:
                - Annual
                - Monthly
                - Hourly
        compensationGrade:
          $ref: '#/components/schemas/Reference'
        compensationStep:
          $ref: '#/components/schemas/Reference'
    Reference:
      type: object
      description: A reference to a Workday business object
      properties:
        id:
          type: string
          description: Workday ID of the referenced object
        descriptor:
          type: string
          description: Display name of the referenced object
        href:
          type: string
          format: uri
          description: API URL for the referenced resource
  responses:
    Unauthorized:
      description: Authentication credentials missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Requested resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    workerId:
      name: workerId
      in: path
      required: true
      description: Workday ID of the worker
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token obtained via Workday authentication for Prism Analytics API access.
externalDocs:
  description: Workday Prism Analytics API Documentation
  url: https://doc.workday.com/admin-guide/en-us/workday-prism-analytics/workday-prism-analytics-api.html
