openapi: 3.1.0
info:
  title: Workday Integrations Workday Prism Analytics Benefits Report Metadata API
  description: API for managing external data in Workday Prism Analytics. Enables creation of datasets, uploading of external data files, and management of data tables for advanced reporting and analytics within Workday. Supports loading CSV and Parquet data into Prism for blending with native Workday data sources.
  version: v2
  contact:
    name: Workday Support
    email: support@workday.com
    url: https://www.workday.com/en-us/customer-experience/support.html
  termsOfService: https://www.workday.com/en-us/legal.html
servers:
- url: https://wd2-impl-services1.workday.com/ccx/api/prismAnalytics/v2/{tenant}
  description: Workday Prism Analytics Endpoint
  variables:
    tenant:
      default: mycompany
      description: Workday tenant name
security:
- bearerAuth: []
tags:
- name: Report Metadata
  description: Retrieve report field definitions and filter parameters
paths:
  /{reportOwner}/{reportName}/fields:
    get:
      operationId: getReportMetadata
      summary: Workday Integrations Get report field metadata
      description: Retrieve metadata about a report including available fields, field types, and prompt parameters that can be used for filtering.
      tags:
      - Report Metadata
      parameters:
      - name: reportOwner
        in: path
        required: true
        description: Username of the report owner
        schema:
          type: string
      - name: reportName
        in: path
        required: true
        description: Name of the custom report
        schema:
          type: string
      responses:
        '200':
          description: Report metadata returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportMetadata'
        '401':
          description: Authentication credentials missing or invalid
        '404':
          description: Report not found
components:
  schemas:
    ReportMetadata:
      type: object
      properties:
        reportName:
          type: string
          description: Name of the report
        reportOwner:
          type: string
          description: Owner of the report
        fields:
          type: array
          description: Report column definitions
          items:
            type: object
            properties:
              fieldName:
                type: string
                description: Column field name
              fieldType:
                type: string
                description: Data type of the field
              isRequired:
                type: boolean
                description: Whether the field is required in prompts
        prompts:
          type: array
          description: Available filter prompt parameters
          items:
            type: object
            properties:
              promptName:
                type: string
                description: Name of the prompt parameter
              promptType:
                type: string
                description: Data type expected for the prompt
              isRequired:
                type: boolean
                description: Whether the prompt is required
              defaultValue:
                type: string
                description: Default value for the prompt
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token obtained via Workday authentication for Prism Analytics API access.
externalDocs:
  description: Workday Prism Analytics API Documentation
  url: https://doc.workday.com/admin-guide/en-us/workday-prism-analytics/workday-prism-analytics-api.html
