openapi: 3.2.0
info:
  title: Workday Integrations Workday REST Recruiting API
  description: Modern REST API for accessing Workday business objects including workers, organizations, positions, jobs, compensation, benefits, time off, and more. Provides programmatic access to Workday data using standard HTTP methods with JSON payloads and OAuth 2.0 authentication.
  version: v1
  contact:
    name: Workday Support
    email: support@workday.com
    url: https://www.workday.com/en-us/customer-experience/support.html
  termsOfService: https://www.workday.com/en-us/legal.html
servers:
- url: https://wd2-impl-services1.workday.com/ccx/api/v1/{tenant}
  description: Workday Implementation Services
  variables:
    tenant:
      default: mycompany
      description: Workday tenant name
security:
- bearerAuth: []
tags:
- name: Recruiting
  description: Manage job requisitions and candidate applications
paths:
  /jobRequisitions:
    get:
      operationId: listJobRequisitions
      summary: Workday Integrations List job requisitions
      description: Retrieve a collection of job requisitions for open positions.
      tags:
      - Recruiting
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: Collection of job requisitions returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/JobRequisition'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /jobRequisitions/{jobRequisitionId}:
    get:
      operationId: getJobRequisition
      summary: Workday Integrations Get a job requisition
      description: Retrieve details of a specific job requisition by ID.
      tags:
      - Recruiting
      parameters:
      - name: jobRequisitionId
        in: path
        required: true
        description: Workday ID of the job requisition
        schema:
          type: string
      responses:
        '200':
          description: Job requisition details returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobRequisition'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Reference:
      type: object
      description: A reference to a Workday business object
      properties:
        id:
          type: string
          description: Workday ID of the referenced object
        descriptor:
          type: string
          description: Display name of the referenced object
        href:
          type: string
          format: uri
          description: API URL for the referenced resource
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
    JobRequisition:
      type: object
      properties:
        id:
          type: string
          description: Workday ID of the job requisition
        descriptor:
          type: string
          description: Display name of the job requisition
        requisitionNumber:
          type: string
          description: Requisition number
        status:
          type: string
          enum:
          - Open
          - Filled
          - Closed
          - Frozen
          description: Current status of the requisition
        jobProfile:
          $ref: '#/components/schemas/Reference'
        supervisoryOrganization:
          $ref: '#/components/schemas/Reference'
        location:
          $ref: '#/components/schemas/Reference'
        numberOfOpenings:
          type: integer
          description: Number of open positions for this requisition
        targetHireDate:
          type: string
          format: date
          description: Target date for filling the position
        createdDate:
          type: string
          format: date
          description: Date the requisition was created
        hiringManager:
          $ref: '#/components/schemas/Reference'
  parameters:
    limit:
      name: limit
      in: query
      description: Maximum number of results to return per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    offset:
      name: offset
      in: query
      description: Number of results to skip for pagination
      schema:
        type: integer
        minimum: 0
        default: 0
    search:
      name: search
      in: query
      description: Search string to filter results
      schema:
        type: string
  responses:
    NotFound:
      description: Requested resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication credentials missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token obtained via authorization code grant or client credentials grant through Workday authentication endpoints.
externalDocs:
  description: Workday REST API Documentation
  url: https://community.workday.com/sites/default/files/file-hosting/restapi/index.html
