openapi: 3.2.0
info:
  title: Workday Integrations Workday REST Business Processes API
  description: Modern REST API for accessing Workday business objects including workers, organizations, positions, jobs, compensation, benefits, time off, and more. Provides programmatic access to Workday data using standard HTTP methods with JSON payloads and OAuth 2.0 authentication.
  version: v1
  contact:
    name: Workday Support
    email: support@workday.com
    url: https://www.workday.com/en-us/customer-experience/support.html
  termsOfService: https://www.workday.com/en-us/legal.html
servers:
- url: https://wd2-impl-services1.workday.com/ccx/api/v1/{tenant}
  description: Workday Implementation Services
  variables:
    tenant:
      default: mycompany
      description: Workday tenant name
security:
- bearerAuth: []
tags:
- name: Business Processes
  description: Interact with Workday business process workflows
paths:
  /businessProcesses:
    get:
      operationId: listBusinessProcesses
      summary: Workday Integrations List business processes
      description: Retrieve active business process instances, including approval workflows and their current status.
      tags:
      - Business Processes
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - name: status
        in: query
        description: Filter by process status
        schema:
          type: string
          enum:
          - InProgress
          - Completed
          - Cancelled
          - Denied
      responses:
        '200':
          description: Collection of business processes returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BusinessProcess'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /businessProcesses/{processId}:
    get:
      operationId: getBusinessProcess
      summary: Workday Integrations Get a business process
      description: Retrieve details and current status of a specific business process instance by ID.
      tags:
      - Business Processes
      parameters:
      - name: processId
        in: path
        required: true
        description: Workday ID of the business process instance
        schema:
          type: string
      responses:
        '200':
          description: Business process details returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessProcess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Reference:
      type: object
      description: A reference to a Workday business object
      properties:
        id:
          type: string
          description: Workday ID of the referenced object
        descriptor:
          type: string
          description: Display name of the referenced object
        href:
          type: string
          format: uri
          description: API URL for the referenced resource
    BusinessProcess:
      type: object
      properties:
        id:
          type: string
          description: Workday ID of the business process instance
        descriptor:
          type: string
          description: Description of the business process
        businessProcessType:
          type: string
          description: Type of business process
        status:
          type: string
          enum:
          - InProgress
          - Completed
          - Cancelled
          - Denied
          description: Current status of the process
        initiatedDate:
          type: string
          format: date-time
          description: When the process was initiated
        completedDate:
          type: string
          format: date-time
          description: When the process was completed
        initiator:
          $ref: '#/components/schemas/Reference'
        subject:
          $ref: '#/components/schemas/Reference'
        currentStep:
          type: string
          description: Current step in the workflow
        steps:
          type: array
          items:
            type: object
            properties:
              stepName:
                type: string
              status:
                type: string
              assignedTo:
                $ref: '#/components/schemas/Reference'
              completedDate:
                type: string
                format: date-time
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
  parameters:
    limit:
      name: limit
      in: query
      description: Maximum number of results to return per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    offset:
      name: offset
      in: query
      description: Number of results to skip for pagination
      schema:
        type: integer
        minimum: 0
        default: 0
  responses:
    NotFound:
      description: Requested resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication credentials missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token obtained via authorization code grant or client credentials grant through Workday authentication endpoints.
externalDocs:
  description: Workday REST API Documentation
  url: https://community.workday.com/sites/default/files/file-hosting/restapi/index.html
