openapi: 3.2.0
info:
  title: Workday Integrations Workday REST Organizations API
  description: Modern REST API for accessing Workday business objects including workers, organizations, positions, jobs, compensation, benefits, time off, and more. Provides programmatic access to Workday data using standard HTTP methods with JSON payloads and OAuth 2.0 authentication.
  version: v1
  contact:
    name: Workday Support
    email: support@workday.com
    url: https://www.workday.com/en-us/customer-experience/support.html
  termsOfService: https://www.workday.com/en-us/legal.html
servers:
- url: https://wd2-impl-services1.workday.com/ccx/api/v1/{tenant}
  description: Workday Implementation Services
  variables:
    tenant:
      default: mycompany
      description: Workday tenant name
security:
- bearerAuth: []
tags:
- name: Organizations
  description: Retrieve and manage organizational structures and hierarchies
paths:
  /organizations:
    get:
      operationId: listOrganizations
      summary: Workday Integrations List organizations
      description: Retrieve a collection of organizations including supervisory, cost center, company, region, and custom organization types.
      tags:
      - Organizations
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/search'
      - name: type
        in: query
        description: Filter by organization type
        schema:
          type: string
          enum:
          - Supervisory
          - Cost_Center
          - Company
          - Region
          - Custom
      responses:
        '200':
          description: Collection of organizations returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Organization'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /organizations/{organizationId}:
    get:
      operationId: getOrganization
      summary: Workday Integrations Get an organization
      description: Retrieve detailed information about a specific organization by ID, including its type, hierarchy, and manager.
      tags:
      - Organizations
      parameters:
      - $ref: '#/components/parameters/organizationId'
      responses:
        '200':
          description: Organization details returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{organizationId}/workers:
    get:
      operationId: listOrganizationWorkers
      summary: Workday Integrations List workers in an organization
      description: Retrieve workers assigned to a specific organization.
      tags:
      - Organizations
      parameters:
      - $ref: '#/components/parameters/organizationId'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Workers in the organization returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WorkerSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Reference:
      type: object
      description: A reference to a Workday business object
      properties:
        id:
          type: string
          description: Workday ID of the referenced object
        descriptor:
          type: string
          description: Display name of the referenced object
        href:
          type: string
          format: uri
          description: API URL for the referenced resource
    WorkerSummary:
      type: object
      properties:
        id:
          type: string
          description: Workday ID of the worker
        descriptor:
          type: string
          description: Display name of the worker
        href:
          type: string
          format: uri
          description: API URL for the worker resource
        primaryWorkEmail:
          type: string
          format: email
          description: Primary work email address
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
    Organization:
      type: object
      properties:
        id:
          type: string
          description: Workday ID of the organization
        descriptor:
          type: string
          description: Display name of the organization
        organizationType:
          type: string
          enum:
          - Supervisory
          - Cost_Center
          - Company
          - Region
          - Custom
          description: Type of organization
        organizationCode:
          type: string
          description: Organization reference code
        isActive:
          type: boolean
          description: Whether the organization is active
        manager:
          $ref: '#/components/schemas/Reference'
        superiorOrganization:
          $ref: '#/components/schemas/Reference'
        subordinateOrganizations:
          type: array
          items:
            $ref: '#/components/schemas/Reference'
          description: Child organizations in the hierarchy
  parameters:
    organizationId:
      name: organizationId
      in: path
      required: true
      description: Workday ID of the organization
      schema:
        type: string
    limit:
      name: limit
      in: query
      description: Maximum number of results to return per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    offset:
      name: offset
      in: query
      description: Number of results to skip for pagination
      schema:
        type: integer
        minimum: 0
        default: 0
    search:
      name: search
      in: query
      description: Search string to filter results
      schema:
        type: string
  responses:
    NotFound:
      description: Requested resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication credentials missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token obtained via authorization code grant or client credentials grant through Workday authentication endpoints.
externalDocs:
  description: Workday REST API Documentation
  url: https://community.workday.com/sites/default/files/file-hosting/restapi/index.html
