openapi: 3.2.0
info:
  title: Workday Integrations Workday Report-as-a-Service (RaaS)…
  description: API for accessing Workday custom and standard reports as RESTful web services. Enables external systems to consume report data in JSON, CSV, or XML formats. Reports must be configured with web service enabled in Workday before they can be accessed through this API.
  version: v1
  contact:
    name: Workday Support
    email: support@workday.com
    url: https://www.workday.com/en-us/customer-experience/support.html
  termsOfService: https://www.workday.com/en-us/legal.html
servers:
- url: https://wd2-impl-services1.workday.com/ccx/service/customreport2/{tenant}
  description: Workday Custom Reports Endpoint
  variables:
    tenant:
      default: mycompany
      description: Workday tenant name
security:
- basicAuth: []
- bearerAuth: []
tags:
- name: Report Metadata
  description: Retrieve report field definitions and filter parameters
paths:
  /{reportOwner}/{reportName}/fields:
    get:
      operationId: getReportMetadata
      summary: Workday Integrations Get report field metadata
      description: Retrieve metadata about a report including available fields, field types, and prompt parameters that can be used for filtering.
      tags:
      - Report Metadata
      parameters:
      - name: reportOwner
        in: path
        required: true
        description: Username of the report owner
        schema:
          type: string
      - name: reportName
        in: path
        required: true
        description: Name of the custom report
        schema:
          type: string
      responses:
        '200':
          description: Report metadata returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportMetadata'
        '401':
          description: Authentication credentials missing or invalid
        '404':
          description: Report not found
components:
  schemas:
    ReportMetadata:
      type: object
      properties:
        reportName:
          type: string
          description: Name of the report
        reportOwner:
          type: string
          description: Owner of the report
        fields:
          type: array
          description: Report column definitions
          items:
            type: object
            properties:
              fieldName:
                type: string
                description: Column field name
              fieldType:
                type: string
                description: Data type of the field
              isRequired:
                type: boolean
                description: Whether the field is required in prompts
        prompts:
          type: array
          description: Available filter prompt parameters
          items:
            type: object
            properties:
              promptName:
                type: string
                description: Name of the prompt parameter
              promptType:
                type: string
                description: Data type expected for the prompt
              isRequired:
                type: boolean
                description: Whether the prompt is required
              defaultValue:
                type: string
                description: Default value for the prompt
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using Workday integration system user credentials (ISU username and password).
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for report access
externalDocs:
  description: Workday RaaS Documentation
  url: https://doc.workday.com/admin-guide/en-us/integration/workday-reports/report-as-a-service-raas.html
