openapi: 3.1.0
info:
  title: Workday Integrations Workday Prism Analytics Benefits Tables API
  description: API for managing external data in Workday Prism Analytics. Enables creation of datasets, uploading of external data files, and management of data tables for advanced reporting and analytics within Workday. Supports loading CSV and Parquet data into Prism for blending with native Workday data sources.
  version: v2
  contact:
    name: Workday Support
    email: support@workday.com
    url: https://www.workday.com/en-us/customer-experience/support.html
  termsOfService: https://www.workday.com/en-us/legal.html
servers:
- url: https://wd2-impl-services1.workday.com/ccx/api/prismAnalytics/v2/{tenant}
  description: Workday Prism Analytics Endpoint
  variables:
    tenant:
      default: mycompany
      description: Workday tenant name
security:
- bearerAuth: []
tags:
- name: Tables
  description: Manage data tables derived from datasets
paths:
  /tables:
    get:
      operationId: listTables
      summary: Workday Integrations List data tables
      description: Retrieve a collection of Prism Analytics data tables available in the tenant, including both Workday-sourced and external data tables.
      tags:
      - Tables
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - name: name
        in: query
        description: Filter tables by name
        schema:
          type: string
      responses:
        '200':
          description: Collection of tables returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Table'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /tables/{tableId}:
    get:
      operationId: getTable
      summary: Workday Integrations Get a data table
      description: Retrieve details of a specific data table by ID, including its schema and source information.
      tags:
      - Tables
      parameters:
      - name: tableId
        in: path
        required: true
        description: Workday ID of the data table
        schema:
          type: string
      responses:
        '200':
          description: Table details returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Table'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    offset:
      name: offset
      in: query
      description: Number of results to skip for pagination
      schema:
        type: integer
        minimum: 0
        default: 0
    limit:
      name: limit
      in: query
      description: Maximum number of results to return per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
    Table:
      type: object
      properties:
        id:
          type: string
          description: Workday ID of the table
        name:
          type: string
          description: Name of the data table
        description:
          type: string
          description: Description of the data table
        sourceType:
          type: string
          enum:
          - Workday
          - External
          description: Whether the table is sourced from Workday or external data
        rowCount:
          type: integer
          description: Number of rows in the table
        lastRefreshed:
          type: string
          format: date-time
          description: When the table was last refreshed
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldDefinition'
    FieldDefinition:
      type: object
      required:
      - name
      - type
      properties:
        name:
          type: string
          description: Field name
        description:
          type: string
          description: Field description
        type:
          type: string
          enum:
          - Text
          - Numeric
          - Date
          - Boolean
          - Currency
          description: Data type of the field
        precision:
          type: integer
          description: Decimal precision for numeric fields
        isRequired:
          type: boolean
          description: Whether the field is required
          default: false
  responses:
    Unauthorized:
      description: Authentication credentials missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Requested resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token obtained via Workday authentication for Prism Analytics API access.
externalDocs:
  description: Workday Prism Analytics API Documentation
  url: https://doc.workday.com/admin-guide/en-us/workday-prism-analytics/workday-prism-analytics-api.html
