openapi: 3.1.0
info:
  title: Workday Integrations Workday Prism Analytics Benefits Data Upload API
  description: API for managing external data in Workday Prism Analytics. Enables creation of datasets, uploading of external data files, and management of data tables for advanced reporting and analytics within Workday. Supports loading CSV and Parquet data into Prism for blending with native Workday data sources.
  version: v2
  contact:
    name: Workday Support
    email: support@workday.com
    url: https://www.workday.com/en-us/customer-experience/support.html
  termsOfService: https://www.workday.com/en-us/legal.html
servers:
- url: https://wd2-impl-services1.workday.com/ccx/api/prismAnalytics/v2/{tenant}
  description: Workday Prism Analytics Endpoint
  variables:
    tenant:
      default: mycompany
      description: Workday tenant name
security:
- bearerAuth: []
tags:
- name: Data Upload
  description: Upload external data files into datasets
paths:
  /datasets/{datasetId}/upload:
    post:
      operationId: uploadDataToDataset
      summary: Workday Integrations Upload data to a dataset
      description: Upload a data file (CSV or gzipped CSV) to a Prism Analytics dataset. The file is validated against the dataset schema. Multiple files can be uploaded and will be appended to the dataset.
      tags:
      - Data Upload
      parameters:
      - $ref: '#/components/parameters/datasetId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - file
              properties:
                file:
                  type: string
                  format: binary
                  description: CSV or gzipped CSV file to upload
      responses:
        '200':
          description: File uploaded and validated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResponse'
        '400':
          description: File validation failed or schema mismatch
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    datasetId:
      name: datasetId
      in: path
      required: true
      description: Workday ID of the Prism Analytics dataset
      schema:
        type: string
  schemas:
    UploadResponse:
      type: object
      properties:
        id:
          type: string
          description: Upload identifier
        status:
          type: string
          enum:
          - Accepted
          - Processing
          - Completed
          - Failed
          description: Upload processing status
        rowsUploaded:
          type: integer
          description: Number of rows successfully uploaded
        rowsFailed:
          type: integer
          description: Number of rows that failed validation
        errors:
          type: array
          items:
            type: object
            properties:
              row:
                type: integer
              field:
                type: string
              message:
                type: string
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
  responses:
    Unauthorized:
      description: Authentication credentials missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Requested resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token obtained via Workday authentication for Prism Analytics API access.
externalDocs:
  description: Workday Prism Analytics API Documentation
  url: https://doc.workday.com/admin-guide/en-us/workday-prism-analytics/workday-prism-analytics-api.html
