openapi: 3.1.0
info:
  title: Workday Integrations Workday Prism Analytics Benefits API
  description: API for managing external data in Workday Prism Analytics. Enables creation of datasets, uploading of external data files, and management of data tables for advanced reporting and analytics within Workday. Supports loading CSV and Parquet data into Prism for blending with native Workday data sources.
  version: v2
  contact:
    name: Workday Support
    email: support@workday.com
    url: https://www.workday.com/en-us/customer-experience/support.html
  termsOfService: https://www.workday.com/en-us/legal.html
servers:
- url: https://wd2-impl-services1.workday.com/ccx/api/prismAnalytics/v2/{tenant}
  description: Workday Prism Analytics Endpoint
  variables:
    tenant:
      default: mycompany
      description: Workday tenant name
security:
- bearerAuth: []
tags:
- name: Benefits
  description: Access benefit plans and worker benefit enrollments
paths:
  /workers/{workerId}/benefits:
    get:
      operationId: getWorkerBenefits
      summary: Workday Integrations Get worker benefit enrollments
      description: Retrieve benefit enrollment details for a specific worker, including health, dental, vision, life insurance, and retirement plans.
      tags:
      - Benefits
      parameters:
      - $ref: '#/components/parameters/workerId'
      responses:
        '200':
          description: Benefit enrollments returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BenefitEnrollment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    BenefitEnrollment:
      type: object
      properties:
        id:
          type: string
          description: Enrollment identifier
        benefitPlan:
          $ref: '#/components/schemas/Reference'
        coverageLevel:
          type: string
          description: Coverage level selected
        coverageBeginDate:
          type: string
          format: date
          description: Coverage start date
        coverageEndDate:
          type: string
          format: date
          description: Coverage end date
        employeeCost:
          type: number
          format: double
          description: Employee contribution amount
        employerCost:
          type: number
          format: double
          description: Employer contribution amount
        currency:
          type: string
          description: ISO 4217 currency code
        dependents:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              relationship:
                type: string
              dateOfBirth:
                type: string
                format: date
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
    Reference:
      type: object
      description: A reference to a Workday business object
      properties:
        id:
          type: string
          description: Workday ID of the referenced object
        descriptor:
          type: string
          description: Display name of the referenced object
        href:
          type: string
          format: uri
          description: API URL for the referenced resource
  responses:
    Unauthorized:
      description: Authentication credentials missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Requested resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    workerId:
      name: workerId
      in: path
      required: true
      description: Workday ID of the worker
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token obtained via Workday authentication for Prism Analytics API access.
externalDocs:
  description: Workday Prism Analytics API Documentation
  url: https://doc.workday.com/admin-guide/en-us/workday-prism-analytics/workday-prism-analytics-api.html
