openapi: 3.2.0
info:
  title: Workday Integrations Workday REST Benefits API
  description: Modern REST API for accessing Workday business objects including workers, organizations, positions, jobs, compensation, benefits, time off, and more. Provides programmatic access to Workday data using standard HTTP methods with JSON payloads and OAuth 2.0 authentication.
  version: v1
  contact:
    name: Workday Support
    email: support@workday.com
    url: https://www.workday.com/en-us/customer-experience/support.html
  termsOfService: https://www.workday.com/en-us/legal.html
servers:
- url: https://wd2-impl-services1.workday.com/ccx/api/v1/{tenant}
  description: Workday Implementation Services
  variables:
    tenant:
      default: mycompany
      description: Workday tenant name
security:
- bearerAuth: []
tags:
- name: Benefits
  description: Access benefit plans and worker benefit enrollments
paths:
  /workers/{workerId}/benefits:
    get:
      operationId: getWorkerBenefits
      summary: Workday Integrations Get worker benefit enrollments
      description: Retrieve benefit enrollment details for a specific worker, including health, dental, vision, life insurance, and retirement plans.
      tags:
      - Benefits
      parameters:
      - $ref: '#/components/parameters/workerId'
      responses:
        '200':
          description: Benefit enrollments returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BenefitEnrollment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Reference:
      type: object
      description: A reference to a Workday business object
      properties:
        id:
          type: string
          description: Workday ID of the referenced object
        descriptor:
          type: string
          description: Display name of the referenced object
        href:
          type: string
          format: uri
          description: API URL for the referenced resource
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
    BenefitEnrollment:
      type: object
      properties:
        id:
          type: string
          description: Enrollment identifier
        benefitPlan:
          $ref: '#/components/schemas/Reference'
        coverageLevel:
          type: string
          description: Coverage level selected
        coverageBeginDate:
          type: string
          format: date
          description: Coverage start date
        coverageEndDate:
          type: string
          format: date
          description: Coverage end date
        employeeCost:
          type: number
          format: double
          description: Employee contribution amount
        employerCost:
          type: number
          format: double
          description: Employer contribution amount
        currency:
          type: string
          description: ISO 4217 currency code
        dependents:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              relationship:
                type: string
              dateOfBirth:
                type: string
                format: date
  parameters:
    workerId:
      name: workerId
      in: path
      required: true
      description: Workday ID of the worker
      schema:
        type: string
  responses:
    NotFound:
      description: Requested resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication credentials missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token obtained via authorization code grant or client credentials grant through Workday authentication endpoints.
externalDocs:
  description: Workday REST API Documentation
  url: https://community.workday.com/sites/default/files/file-hosting/restapi/index.html
