openapi: 3.2.0
info:
  title: Workday Integrations Workday REST Payroll API
  description: Modern REST API for accessing Workday business objects including workers, organizations, positions, jobs, compensation, benefits, time off, and more. Provides programmatic access to Workday data using standard HTTP methods with JSON payloads and OAuth 2.0 authentication.
  version: v1
  contact:
    name: Workday Support
    email: support@workday.com
    url: https://www.workday.com/en-us/customer-experience/support.html
  termsOfService: https://www.workday.com/en-us/legal.html
servers:
- url: https://wd2-impl-services1.workday.com/ccx/api/v1/{tenant}
  description: Workday Implementation Services
  variables:
    tenant:
      default: mycompany
      description: Workday tenant name
security:
- bearerAuth: []
tags:
- name: Payroll
  description: Access payroll data and pay group configurations
paths:
  /payGroups:
    get:
      operationId: listPayGroups
      summary: Workday Integrations List pay groups
      description: Retrieve a collection of pay groups configured in the tenant.
      tags:
      - Payroll
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Collection of pay groups returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PayGroup'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  parameters:
    limit:
      name: limit
      in: query
      description: Maximum number of results to return per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    offset:
      name: offset
      in: query
      description: Number of results to skip for pagination
      schema:
        type: integer
        minimum: 0
        default: 0
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
    PayGroup:
      type: object
      properties:
        id:
          type: string
          description: Workday ID of the pay group
        descriptor:
          type: string
          description: Display name of the pay group
        payFrequency:
          type: string
          enum:
          - Weekly
          - Biweekly
          - Semimonthly
          - Monthly
          description: Pay frequency
        country:
          type: string
          description: Country associated with the pay group
        currency:
          type: string
          description: ISO 4217 currency code
  responses:
    Unauthorized:
      description: Authentication credentials missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token obtained via authorization code grant or client credentials grant through Workday authentication endpoints.
externalDocs:
  description: Workday REST API Documentation
  url: https://community.workday.com/sites/default/files/file-hosting/restapi/index.html
