openapi: 3.1.0
info:
  title: Workday Integrations Workday Prism Analytics Benefits Organizations API
  description: API for managing external data in Workday Prism Analytics. Enables creation of datasets, uploading of external data files, and management of data tables for advanced reporting and analytics within Workday. Supports loading CSV and Parquet data into Prism for blending with native Workday data sources.
  version: v2
  contact:
    name: Workday Support
    email: support@workday.com
    url: https://www.workday.com/en-us/customer-experience/support.html
  termsOfService: https://www.workday.com/en-us/legal.html
servers:
- url: https://wd2-impl-services1.workday.com/ccx/api/prismAnalytics/v2/{tenant}
  description: Workday Prism Analytics Endpoint
  variables:
    tenant:
      default: mycompany
      description: Workday tenant name
security:
- bearerAuth: []
tags:
- name: Organizations
  description: Retrieve and manage organizational structures and hierarchies
paths:
  /organizations:
    get:
      operationId: listOrganizations
      summary: Workday Integrations List organizations
      description: Retrieve a collection of organizations including supervisory, cost center, company, region, and custom organization types.
      tags:
      - Organizations
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/search'
      - name: type
        in: query
        description: Filter by organization type
        schema:
          type: string
          enum:
          - Supervisory
          - Cost_Center
          - Company
          - Region
          - Custom
      responses:
        '200':
          description: Collection of organizations returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Organization'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /organizations/{organizationId}:
    get:
      operationId: getOrganization
      summary: Workday Integrations Get an organization
      description: Retrieve detailed information about a specific organization by ID, including its type, hierarchy, and manager.
      tags:
      - Organizations
      parameters:
      - $ref: '#/components/parameters/organizationId'
      responses:
        '200':
          description: Organization details returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /organizations/{organizationId}/workers:
    get:
      operationId: listOrganizationWorkers
      summary: Workday Integrations List workers in an organization
      description: Retrieve workers assigned to a specific organization.
      tags:
      - Organizations
      parameters:
      - $ref: '#/components/parameters/organizationId'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Workers in the organization returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WorkerSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    organizationId:
      name: organizationId
      in: path
      required: true
      description: Workday ID of the organization
      schema:
        type: string
    search:
      name: search
      in: query
      description: Search string to filter results
      schema:
        type: string
    offset:
      name: offset
      in: query
      description: Number of results to skip for pagination
      schema:
        type: integer
        minimum: 0
        default: 0
    limit:
      name: limit
      in: query
      description: Maximum number of results to return per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
    Organization:
      type: object
      properties:
        id:
          type: string
          description: Workday ID of the organization
        descriptor:
          type: string
          description: Display name of the organization
        organizationType:
          type: string
          enum:
          - Supervisory
          - Cost_Center
          - Company
          - Region
          - Custom
          description: Type of organization
        organizationCode:
          type: string
          description: Organization reference code
        isActive:
          type: boolean
          description: Whether the organization is active
        manager:
          $ref: '#/components/schemas/Reference'
        superiorOrganization:
          $ref: '#/components/schemas/Reference'
        subordinateOrganizations:
          type: array
          items:
            $ref: '#/components/schemas/Reference'
          description: Child organizations in the hierarchy
    Reference:
      type: object
      description: A reference to a Workday business object
      properties:
        id:
          type: string
          description: Workday ID of the referenced object
        descriptor:
          type: string
          description: Display name of the referenced object
        href:
          type: string
          format: uri
          description: API URL for the referenced resource
    WorkerSummary:
      type: object
      properties:
        id:
          type: string
          description: Workday ID of the worker
        descriptor:
          type: string
          description: Display name of the worker
        href:
          type: string
          format: uri
          description: API URL for the worker resource
        primaryWorkEmail:
          type: string
          format: email
          description: Primary work email address
  responses:
    Unauthorized:
      description: Authentication credentials missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Requested resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token obtained via Workday authentication for Prism Analytics API access.
externalDocs:
  description: Workday Prism Analytics API Documentation
  url: https://doc.workday.com/admin-guide/en-us/workday-prism-analytics/workday-prism-analytics-api.html
