openapi: 3.2.0
info:
  title: Workday Integrations Workday REST Job Profiles API
  description: Modern REST API for accessing Workday business objects including workers, organizations, positions, jobs, compensation, benefits, time off, and more. Provides programmatic access to Workday data using standard HTTP methods with JSON payloads and OAuth 2.0 authentication.
  version: v1
  contact:
    name: Workday Support
    email: support@workday.com
    url: https://www.workday.com/en-us/customer-experience/support.html
  termsOfService: https://www.workday.com/en-us/legal.html
servers:
- url: https://wd2-impl-services1.workday.com/ccx/api/v1/{tenant}
  description: Workday Implementation Services
  variables:
    tenant:
      default: mycompany
      description: Workday tenant name
security:
- bearerAuth: []
tags:
- name: Job Profiles
  description: Access job profile definitions and configurations
paths:
  /jobProfiles:
    get:
      operationId: listJobProfiles
      summary: Workday Integrations List job profiles
      description: Retrieve a collection of job profile definitions configured in the Workday tenant, including job families and management levels.
      tags:
      - Job Profiles
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: Collection of job profiles returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/JobProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /jobProfiles/{jobProfileId}:
    get:
      operationId: getJobProfile
      summary: Workday Integrations Get a job profile
      description: Retrieve details of a specific job profile by ID.
      tags:
      - Job Profiles
      parameters:
      - name: jobProfileId
        in: path
        required: true
        description: Workday ID of the job profile
        schema:
          type: string
      responses:
        '200':
          description: Job profile details returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Reference:
      type: object
      description: A reference to a Workday business object
      properties:
        id:
          type: string
          description: Workday ID of the referenced object
        descriptor:
          type: string
          description: Display name of the referenced object
        href:
          type: string
          format: uri
          description: API URL for the referenced resource
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
    JobProfile:
      type: object
      properties:
        id:
          type: string
          description: Workday ID of the job profile
        descriptor:
          type: string
          description: Display name of the job profile
        jobCode:
          type: string
          description: Job code identifier
        jobFamily:
          $ref: '#/components/schemas/Reference'
        managementLevel:
          $ref: '#/components/schemas/Reference'
        jobCategory:
          $ref: '#/components/schemas/Reference'
        isActive:
          type: boolean
          description: Whether the job profile is active
        jobDescription:
          type: string
          description: Full job description text
  parameters:
    limit:
      name: limit
      in: query
      description: Maximum number of results to return per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    search:
      name: search
      in: query
      description: Search string to filter results
      schema:
        type: string
    offset:
      name: offset
      in: query
      description: Number of results to skip for pagination
      schema:
        type: integer
        minimum: 0
        default: 0
  responses:
    NotFound:
      description: Requested resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication credentials missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token obtained via authorization code grant or client credentials grant through Workday authentication endpoints.
externalDocs:
  description: Workday REST API Documentation
  url: https://community.workday.com/sites/default/files/file-hosting/restapi/index.html
