openapi: 3.1.0
info:
  title: Workday Integrations Workday Prism Analytics Benefits Job Profiles API
  description: API for managing external data in Workday Prism Analytics. Enables creation of datasets, uploading of external data files, and management of data tables for advanced reporting and analytics within Workday. Supports loading CSV and Parquet data into Prism for blending with native Workday data sources.
  version: v2
  contact:
    name: Workday Support
    email: support@workday.com
    url: https://www.workday.com/en-us/customer-experience/support.html
  termsOfService: https://www.workday.com/en-us/legal.html
servers:
- url: https://wd2-impl-services1.workday.com/ccx/api/prismAnalytics/v2/{tenant}
  description: Workday Prism Analytics Endpoint
  variables:
    tenant:
      default: mycompany
      description: Workday tenant name
security:
- bearerAuth: []
tags:
- name: Job Profiles
  description: Access job profile definitions and configurations
paths:
  /jobProfiles:
    get:
      operationId: listJobProfiles
      summary: Workday Integrations List job profiles
      description: Retrieve a collection of job profile definitions configured in the Workday tenant, including job families and management levels.
      tags:
      - Job Profiles
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/search'
      responses:
        '200':
          description: Collection of job profiles returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/JobProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /jobProfiles/{jobProfileId}:
    get:
      operationId: getJobProfile
      summary: Workday Integrations Get a job profile
      description: Retrieve details of a specific job profile by ID.
      tags:
      - Job Profiles
      parameters:
      - name: jobProfileId
        in: path
        required: true
        description: Workday ID of the job profile
        schema:
          type: string
      responses:
        '200':
          description: Job profile details returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    search:
      name: search
      in: query
      description: Search string to filter results
      schema:
        type: string
    offset:
      name: offset
      in: query
      description: Number of results to skip for pagination
      schema:
        type: integer
        minimum: 0
        default: 0
    limit:
      name: limit
      in: query
      description: Maximum number of results to return per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
        details:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
    Reference:
      type: object
      description: A reference to a Workday business object
      properties:
        id:
          type: string
          description: Workday ID of the referenced object
        descriptor:
          type: string
          description: Display name of the referenced object
        href:
          type: string
          format: uri
          description: API URL for the referenced resource
    JobProfile:
      type: object
      properties:
        id:
          type: string
          description: Workday ID of the job profile
        descriptor:
          type: string
          description: Display name of the job profile
        jobCode:
          type: string
          description: Job code identifier
        jobFamily:
          $ref: '#/components/schemas/Reference'
        managementLevel:
          $ref: '#/components/schemas/Reference'
        jobCategory:
          $ref: '#/components/schemas/Reference'
        isActive:
          type: boolean
          description: Whether the job profile is active
        jobDescription:
          type: string
          description: Full job description text
  responses:
    Unauthorized:
      description: Authentication credentials missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Requested resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token obtained via Workday authentication for Prism Analytics API access.
externalDocs:
  description: Workday Prism Analytics API Documentation
  url: https://doc.workday.com/admin-guide/en-us/workday-prism-analytics/workday-prism-analytics-api.html
